#/Users/zhangbin/myProjects/testRecord/Android-video_recorder_pro/Android-video_recorder_proAS/.idea/
#/Users/zhangbin/myProjects/testRecord/Android-video_recorder_pro/Android-video_recorder_proAS/.gradle
